.area1__container {
  text-align: center;
  overflow: hidden;
  position: relative;
}
.area1__image, .area2__image{
  width: 200px;
}
.area1__step-container {
  display: flex;
  justify-content: space-around;
}
.area1__step1 {
  img {
    width: 90px;
    margin-bottom: 30px;
  }
}
.area1__step2 {
  img {
    width: 90px;
    margin-bottom: 30px;
  }
}
.area1__step3 {
  img {
    width: 90px;
    margin-bottom: 30px;
  }
}
.area1__step4 {
  img {
    width: 90px;
    margin-bottom: 30px;
  }
}
.area1__spots{
  display: none;
}
.area2__container {
  margin-top: 100px;
  text-align: center;
}
.area3__container {
  margin-top: 100px;
  text-align: center;
}
.area3__images{
  width: 240px;
}
@media screen and (max-width: 769px) {
  .area1__step-container {
    display: block;
  }
  .area1__step1, .area1__step2, .area1__step3, .area1__step4 {
    display: block;
    width: 100%;
    margin-bottom: 60px;
  }
  .area1__spots{
    display: block;
    left: 60%;
    position: absolute;
  }

}
