nav{
  height: 100px;
  background-color: $color3transparent;
  color:$primaryColor;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 500;
  ul{
    list-style-type: none;
    height: 100%;
    align-items: center;
  }
}
.nav__title{
  width: 25%;

}
.nav__body{
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  li{
    cursor: pointer;
    &:hover{
      text-decoration: underline;
    }
  }
}