@import "~@brainhubeu/react-carousel/lib/style.css";
.BrainhubCarousel__dot {
  min-width: 40px;
  background-color: transparent;
  box-shadow: none;
}
.pricing__container {
  text-align: center;
}
.pricing__items-container {
  justify-content: space-evenly;
  margin-top: 100px;
  align-items: center;
}
.item-normal {
  background-color: $color6;
  border-radius: 30px;
  width:230px;
  height: 230px;
  box-shadow: 12px 12px 10px 0px $grey4;
  cursor: pointer;
  transition: width 0.3s, height 0.3s;
  &:hover{
    background-color: $primaryColor;
    border-radius: 30px;
    width: 260px;
    height: 260px;
    .item-normal__price {
      color: $color3;
      font-size: 140px;
      margin-bottom: 0px;
    }
    .item-normal__description {
      color: $color3;
      font-size: 14px;
      line-height: 5px;
    }
  }
}
.item-normal__price {
  color: $primaryColor;
  font-size: 120px;
  margin-bottom: 0px;
}
.item-normal__description {
  color: $primaryColor;
  font-size: 14px;
  line-height: 5px;
}

@media screen and (max-width: 990px) {
  .pricing__items-container {
    overflow-x: scroll;
  }
  .item-normal{
    padding: 10px 0px 0px 0px;
    margin:20px;
    width:300px;
    &:hover{
      background-color: $primaryColor;
      margin:20px;
      .item-normal__price {
        color: $color3;
      }
      .item-normal__description {
        color: $color3;
      }
    }
  }  
  .pricing__carousel {
    display: flex;
  }
  .slide {
    background-color: white !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .slider {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
