.security__container{
  width: 100%;
  margin: -20px 0px 0px 0px;
  overflow: hidden;
  position: relative;

}
.security__circle1{
  position: absolute;
  z-index: 10;
  margin: 400px 0px 0px -210px
}

.security__elements-container{
  height: 900px;
  background-image: url('/static/images/banner-blue.png');
  background-repeat: no-repeat;
  background-size: 110%;
  background-position: 50% 0%;
  text-align: center;
  padding: 260px 0px 0px 0px;
  z-index: -1;
}

.security__circle2{
  right: -200px;
  position: absolute;
  z-index: 10;
  top: 30px;
}