.reviews__contaniner {
  position: relative;
  text-align: center;
  margin-top: 120px;
}
.reviews__row {
  display: flex;
}
.review {
  width: 33%;
  img {
    border-radius: 100%;
    width: 150px;
    margin: 0px auto 20px auto;
  }
  p {
    width: 70%;
    margin: 0px auto 20px auto;
  }
  small{
    display:block;
    font-style: italic;;
  }
}
.spot--bg,
.quote--icon,
.quote--bg {
  position: absolute;
  z-index: -1;
}
.spot--bg {
  top: -60px;
  left: 0px;
  width: 400px;
}
.quote--bg {
  right: 0px;
  top: 0px;
  width: 300px;
}
.quote--icon {
  top: 140px;
  right: 25%;
  width: 100px;
}
@media screen and (max-width: 769px) {
  .reviews__contaniner {
    h2 {
      margin-bottom: 40px;
    }
  }
  .review {
    width: 80%;
  }
  .spot--bg {
    display: none;
  }
  .quote--bg {
    top: 0px;
    right: 0px;
  }
}
@media screen and (max-width: 421px) {
  .reviews__contaniner {
    margin-top: 70px;
  }
}
